@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Prueba Servicios Azure Cognitivos</h1>
    <br />
    <p><h2>Prueba práctica intermedia con ASP.NET Core y Servicios de Azure.</h2></p>
    <br />
    <a class="btn btn-lg btn-primary" asp-area="" asp-controller="TextoEnImagen" asp-action="Index">OCR desde imágen.</a>
    <a class="btn btn-lg btn-warning" asp-area="" asp-controller="TextoEnFichero" asp-action="Index">OCR desde texto.</a>
    <a class="btn btn-lg btn-info" asp-area="" asp-controller="ObjetosEnImagen" asp-action="Index">Reconocimiento objetos.</a>
    <a class="btn btn-lg btn-success" href="https://gentle-sea-02984c603.2.azurestaticapps.net">Consumo API desde web estática.</a>
    <br />
    <br />
</div>
